.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* margin-top: 250px; */
  height: 100vh;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(23,121,9,1) 34%, rgba(0,212,255,1) 100%);
}
.content{
  font-size: 25px

}
.searchbox{
  margin: 30px;
  width: 30%;
  font-size: 25px;
  /* height: 50%; */

}
::placeholder{
  padding: 140px;
}

.btn{
  font-size: 25px;
  width: 10%;
  cursor: pointer;
}
 
.final{
  font-size: 30px;
  color: rgb(249, 252, 59);
}