html,body{
  background-color: beige;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* margin-top: 250px; */
  height: 100vh;
  
}
.content{
  font-size: 25px

}
.searchbox{
  margin: 30px;
  width: 30%;
  font-size: 25px;
  /* height: 50%; */

}
::placeholder{
  padding: 140px;
}

.btn{
  font-size: 25px;
  width: 10%;
  cursor: pointer;
}
 
.final{
  font-size: 30px;
  color: rgb(12, 12, 10);
}
